<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="hamdan">

<ul>
<li><a href="{{ url_for('home') }}">Home</a></li>
<li><a href="{{ url_for('Describtion') }}">Describtion</a></li>
<li><a href="{{ url_for('games') }}">Games</a></li>
</ul>
<img src="static/lolll.jpg" id='giffy' width="100%" height="100%">
<style type="text/css">
	h1{
		background-color:white;

	}
</style>
<h1>Dino</h1>
<br>
<h2>Help Dino escape from Hamdan by avoiding obstecles get the highest score you can get</h2>
<br>
<br>
<br>
<h1>Question game</h1>
<br>
<h2>Do you want to get annoyed ? then this is defintely the game for you TRY IT</h2>
<br>
<br>
<br>
<h1>TicTacToe</h1>
<br>
<h2>Do I need to explain this ?</h2>



</body>
</html>